<%- include("../partials/adminheader.ejs") %>
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Painel administrador</h6>
          <h2>Olá <%= admin.nome.split(" ")[0] %></h2>
        </div>
      </div>
    </div>
  </section>
  


  <!--Modal Meus dados -->
<form action="/admin/delete/acount/<%= admin.id %>" enctype="multipart/form-data" onsubmit="deletar(event, this)" method="post" class="modal fade" id="meusdados" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Dados do Admin</h1>
        <i type="button" class="fa fa-close text-danger" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>
      <input type="hidden" value="<%= admin.nome %>" id="usuario">
      <div class="modal-body">
        <ul>
          <li>
            <h5>Nome: <%= admin.nome %></h5> 
          </li>
          <li>
            <h5>Email: <%= admin.email %></h5>
          </li>
          <li>
            <h5>Gênero: <%= admin.genero %></h5>
          </li>
          <li>
            <h5>Data de nascimento: <%= admin.nascimento %></h5>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <!-- <button type="submit" class="btn rounded-0 btn-outline-danger">Deletar conta</button> -->
        <button type="button" class="btn btn-danger rounded-0 px-5" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</form>

  <section class="meetings-page p-0" id="meetings">


    <!-- Todos os cursos -->
    <section class="upcoming-meetings py-5" id="cursos">
      <div class="container mt-5 pt-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading text-start mb-5">
              <h2 class="my-2">Nossos cursos</h2>
              <a href="" class="btn btn-outline-danger rounded-0 mb-4 mt-1 px-4" style="float: right;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Novo curso</a>
            </div>          </div>
          <div class="col-lg-10 mx-auto">
            <div class="row">
              <% if(cursos[0] != undefined ){
               cursos.forEach(cursos=>{
                let { titulo, capa, id }=cursos;
                
                %>
              <div class="col-lg-4 col-md-6 col-sm-10 mx-auto mx-md-0">
                <div class="meeting-item">
                  <div class="thumb">
                    <div class="price">
                        <form action="/cursos/remove/<%= id %>" onsubmit="verfrequentes(event,this)" method="post">
                          <input type="hidden" name="frequentantes" class="frequentantes" value="<%= cursos.usuarios.length %>">
                          <input type="hidden" name="titulo" value="<%= titulo %>">
                          <input type="hidden" name="adminId" value="<%= admin.id %>">

                            <button type="submit" class="text-danger border-0 fa fa-close" style="font-size: 1.8em;"></button>
                        </form>
                    </div>
                    <img src="/<%= capa %>" class="rounded-0" alt="New Lecturer Meeting">
                  </div>
                  <div class="down-content rounded-0">
                      <div class="row mb-4">
                        <h4 class="mb-2"><%= titulo %></h4>
                        <p class="text-muted m-0 mt-0">Frequentantes: <%= cursos.usuarios.length %></p>
                        <p class="text-muted m-0 mt-0">Aulas: <%= cursos.aulas.length %></p>

                      </div>
                    <div class="info">
                      <div class="row">
                        <a href="/admin/curso/aulas/<%= cursos.id %>/<%= admin.id %>" class="btn btn-sm btn-outline-danger mx-auto rounded-0 py-2 py-md-1">Aulas</a>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <% }) }else{ %>

                <div class="row text-center py-5">
                  <h3 class="text-muted">Sem cursos de momento</h3>
                </div>
              <%  }  %>

              
            </div>
          </div>
        </div>
      </div>
    </section>
    
  <!--Modal Adicionar curso -->
  <form action="/curso/save/poster/<%=admin.id%>" enctype="multipart/form-data" onsubmit="value(event, this)" method="post" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicionar curso</h1>
          <i type="button" class="fa fa-close text-danger" data-bs-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
          
          <div class="form-floating my-3">
            <input required type="text" name="titulo" class="form-control" id="floatingPassword" placeholder="Titulo">
            <label for="floatingPassword">Título</label>
        </div>
        <div class="input-group">
          <span class="input-group-text bg-light" id="inputGroupPrepend3">Imagem de capa</span>
          <input name="file" required type="file" class="form-control" id="filename" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div>
        <p class="small text-danger text-center mx-auto none" id="img_erro">O arquivo deve ser uma imagem</p>
        <input type="hidden" name="filename" id="send">
        <input type="hidden" value="<%= admin.id %>" name="adminId">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn rounded-0 btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger rounded-0">Salvar Curso</button>
        </div>
      </div>
    </div>
  </form>


  <!-- Estudantes -->
  <section class="apply-now" id="estudantes">
    <div class="container px-0">
      <div class="row">
        <div class="">
          <div class="rounded-0 mx-auto bg-light accordions is-first-expanded">
            <div class="row">
              <h3>Estudantes</h3>
            </div>
            <%  if(cursos[0] == undefined){ %>
              <div class="row py-4">
                <p class="text-muted display-6">Sem estudantes</p>
              </div>

            <% }else{
               cursos.forEach(curso=>{ %>

            <article class="accordion">
                <div class="accordion-head">
                    <span><%= curso.titulo %></span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body p-0">
                    <div class="content table-responsive">
                      <table class="table table-hover table-bordered">
                        <thead>
                          <th>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Gênero</th>
                          </th>
                        </thead>
                        <tbody>
                      <% curso.usuarios.forEach(usuario=>{ %>
                            <tr>
                              <th scope="row">
                                <td><%= usuario.id %></td>
                                <td><%= usuario.nome %></td>
                                <td><%= usuario.email %></td>
                                <td><%= usuario.genero %></td>
                              </th>
                            </tr>
                        <% })%>
                          </tbody>
                        </table>
                    </div>
                </div>
            </article>

            <% }) } %>
             <article class="accordion">
                <div class="accordion-head">
                    <span>Todos os usuários</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body p-0">
                    <div class="content table-responsive">
                      <table class="table table-sm table-hover table-bordered">
                        <thead>
                          <th>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Gênero</th>
                          </th>
                        </thead>
                        <tbody>
                      <% usuario.forEach(usuario=>{ %>
                            <tr>
                              <th scope="row">
                                <td><%= usuario.id %></td>
                                <td><%= usuario.nome %></td>
                                <td><%= usuario.email %></td>
                                <td><%= usuario.genero %></td>
                              </th>
                            </tr>
                        <% })%>
                          </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </div>
        </div>
      </div>
    </div>
  </section>
    <!-- Estatísticas -->

    <section class="our-facts">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12">
                <h2>Os números sobre a Academy</h2>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-12">
                    <div class="count-area-content">
                      <div class="count-digit"><%= aulas.length %></div>
                      <div class="count-title">Total de aulas</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="count-area-content">
                      <div class="count-digit"><%= cursos.length %></div>
                      <div class="count-title">Cursos existentes</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-12">
                    <div class="count-area-content new-students">
                      <div class="count-digit"><%= usuario.length %></div>
                      <div class="count-title">Estudantes inscritos</div>
                    </div>
                  </div> 
                  <div class="col-12">
                    <div class="count-area-content">
                      <div class="count-digit">0</div>
                      <div class="count-title">Certificados liberados</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          <div class="col-lg-6 align-self-center">
            <div class="video">
              <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img src="assets/images/play-icon.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>

  <script>
    function value(event,elemento){
      let erro=document.querySelector("#img_erro");
      let caminho=document.querySelector("#filename").value.split("\\");
      let file=caminho[caminho.length - 1];
      let extensao= file.split(".");
      if((extensao[extensao.length - 1] == "jpg") || (extensao[extensao.length - 1] == "jpeg") || (extensao[extensao.length - 1] == "svg") || (extensao[extensao.length - 1] == "png")){
        erro.classList.add("none");
        document.querySelector("#send").value=file;
        event.submit();
      }else{
        erro.classList.remove("none");
        event.preventDefault();
      }
      
    }

    function verfrequentes(event,elemento){
      let frequentantes=elemento.querySelector(".frequentantes").value;
      if(Number(frequentantes) == 0){

      }else{
        alert("Tem pessoas frequentando este curso!")
        event.preventDefault();
      }
    }
    function deletar(event,elemento){
          let nome=document.querySelector("#usuario").value;
          let recebi= prompt("Digite seu nome se deseja realmente deletar esta conta?");
          if(recebi == nome){
            event.submit();
          }
          event.preventDefault()
        }
  </script>
    <%- include("../partials/footer") %>