<%- include("partials/header") %>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="assets/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h6>Olá Futuro Estudante</h6>
              <h2>Seja Bem vindo a Academy</h2>
              <p>Vem se tornar aquele profissional que as empresas querem contratar com os nossos cursos profissionais. </p>
              <div class="main-button-red rounded-0">
                  <a class="p-3 btn btn-danger rounded-pill" href="/register">Cadastre-se agora!</a></div>
              
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
          
            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <h4>Educação de excelência</h4>
                <p>A Online Academy está empenhado em transmitir um ensino de prático e de qualidade.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Estudantes autodidatas</h4>
                <p>A nossa metodologia treina os seus alunos a desenvolverem habilidades autodidatas.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Aprendizado Online</h4>
                <p>Com a metodologia de estudo online você poder estudar quando e onde quiser.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Direito ao Certificado</h4>
                <p>Após a conclusão do curso, o aluno terá direito ao seu certificado de conclusão do curso.</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upcoming-meetings" id="meetings">
    <div class="row mx-0">
      <div class="col col-lg-10 col-md-11 mx-auto">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Em destaque</h2>
          </div>
        </div>
        <!-- Carousel -->

        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <% cursos.forEach(curso=>{ %>

            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="botao" aria-current="true" aria-label="Slide 1"></button>
            <% }) %>
          </div>
          <div class="carousel-inner">
            <% if(cursos[0] == undefined){ %>
              <div class="text-center">
                <h3 class="text-muted">Sem destaque</h3>
              </div>
            <% }else{
               cursos.forEach(curso=>{ %>

              <div class="carousel-item responsive-height" style="overflow: hidden;">
                <img src="<%= curso.capa %>" class="d-block w-100" alt="<%= curso.titulo %>">
                <div class="carousel-caption mb-5 d-none d-md-block">
                  <h2 class=""><%= curso.titulo %></h2>
                </div>
              </div>

            <% }) 
          } %>
            
           
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Sobre nós</h2>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h3>Missão</h3>
                <p>A Academy tem como Missão proporcionar uma formação de qualidade para o público geral de forma gratuita e a qualquer tempo</p>
               
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h3>Valores</h3>
                <p>Na Academy acreditamos que o conhecimento não tem preço. Por esse motivo estamos empenhados em proporcionar uma formação acessível a todo e qualquer cidadão com/sem fundos financeiros</p>
                
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h3>Visão</h3>
                <p>A Academy visa proporcionar uma formação profissional e de qualidade para que o maior número de cidadãos Angolanos possam ter a formação que sempre sonharam.</p>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordions is-first-expanded">
            <div class="row text-center">
              <h3>FAQ</h3>
            </div>
            <article class="accordion">
                <div class="accordion-head">
                    <span>O que é a Academy ?</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>A Academy é uma instituição académica totalmente gratuita vocacionda a proporcionar uma formação académica prática e profissional!</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>Qual o seu público alvo ?</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>A Academy pretende atuar em princípio somente em Angola, tem como público alvo os cidadãos das 18 províncias de Angola!</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>O que a Academy espera para seus inscritos ?</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>A Academy espera fortemente que os seus Estudantes possam se tornar naquele profissional que as empresas precisam e que possam ajudar com seus conhecimentos no desenvolvimento do país.</p>
                    </div>
                </div>
            </article>
        </div>
        </div>
      </div>
    </div>
  </section>

  <!--Our courses-->
  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Nossos Cursos</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <% if(cursos[0] != undefined){
             cursos.forEach(cursos=>{ %>
              <div class="item">
                <img src="/<%= cursos.capa %>" alt="Course One">
                <div class="down-content">
                  <h4><%= cursos.titulo %></h4>
                  <div class="info">
                    <div class="row">
                      <a href="" class="btn btn-sm btn-outline-danger mx-auto rounded-0">Fazer curso</a>
                    </div>
                  </div>
                </div>
              </div>
          <%  }) }else{ %>
              <div class="row text-center">
                <h2 class="display-6 text-muted">Sem cursos de momento</h2>
              </div>
         <% } %>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <!-- Estatísticas -->

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>Os números sobre a Academy</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit"><%= aulas.length %></div>
                    <div class="count-title">Total de aulas</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit"><%= cursos.length %></div>
                    <div class="count-title">Cursos existentes</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit"><%= usuario.length %></div>
                    <div class="count-title">Estudantes inscritos</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">0</div>
                    <div class="count-title">Certificados liberados</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img src="assets/images/play-icon.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" class="rounded-0" method="post">
                <div class="col-lg-12">
                  <h2>Fale connosco</h2>
                </div>
                
                <div class="form-floating mb-3">
                  <input type="email" name="email" required class="form-control rounded-1" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Seu email</label>
              </div>
                <div class="form-floating">
                  <textarea class="form-control rounded-1" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                  <label for="floatingTextarea">Assunto</label>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button rounded-1" disabled>Enviar mensagem</button>
                  </fieldset>
                </div>
            </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <script>
      setTimeout(()=>{
        document.querySelector(".carousel-item").classList.add("active");
        let indicador=document.querySelectorAll(".carousel-indicators>button")
        for(i=0;i<=indicador.length; i++){
          indicador[i].setAttribute("data-bs-slide-to",i);
          indicador[i].setAttribute("aria-label","Slide "+(i+1));
          indicador[0].classList.add("active");
        }
      },500)
    </script>
    <%- include("partials/footer") %>