<%- include("../partials/userheader.ejs") %>

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Sinta-se a vontade</h6>
          <h2>Olá <%= usuario.nome.split(" ")[0] %></h2>
        </div>
      </div>
    </div>
  </section>

  <!-- Video-aula -->
  <section class="meetings-page py-4 my-0 rounded-0" id="meetings">
    <div class="row mx-auto">
      <div class="row mx-auto">
        <div class="col-lg-10 mx-auto p-1 p-md-2 p-lg-5">
          <div class="row">
            <div class="col-lg-12 p-0">
              <div class="meeting-single-item">
                <div class="col-12 m-0 p-0">
                  <video id="video_aula" controls src="" poster="/<%=curso.capa%>" class="col-12 m-0 p-0"></video>
                </div>
                <div class="down-content rounded-0">
                  <div class="container">
                    <div class="row mb-5">
                      <h2 class="h4"><%= curso.titulo %></h2>
                      <div class="col h5 d-flex jutify-content-between text-muted">
                        <div class="col">
                          <span class="atual"></span>
                        <span class="atual small"></span>
                        </div>
                      
                      </div>
                      <hr>
                    </div>
                    <sp class="row"></sp>
                  </div>
                  <div class="container text-center">
                    <div class="row text-start">
                      <h5>Aulas</h5>
                    </div>
                    <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
                      
                      <% if(curso.aulas[0] != undefined){
                       curso.aulas.forEach(aula=>{%>
                        <div class="col">
                          <div class="card" onclick="video(this)">
                            <div class="card-body">
                              <div class="col">
                                <h5 class="order">0</h5>
                                <p id="titulo"><%= aula.titulo.split(".")[0] %></p>
                                <input type="hidden" class="caminho" value="<%= aula.titulo %>">
                              </div>
                            </div>
                          </div>
                        </div>
                      <% })
                    }else{ %>
                        <div class="col text-center">
                          <h3 class="text-muted">Sem aulas</h3>
                        </div>

                      <% } %>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
      <div class="col text-center"><a href="/user/<%=usuario.id%>" class="btn btn-outline-danger px-4 rounded-0">Voltar</a></div>
    </div>

    <script>
      
      
      async function video(elemento){
        let caminho= elemento.querySelector(".caminho").value;
        let ordem=elemento.querySelector(".order").innerText;
        let titulo=elemento.querySelector("#titulo").innerText;
        let aula=document.getElementById("video_aula");
        let videoAtual = document.querySelectorAll(".atual");

        videoAtual[0].innerHTML=ordem+" - ";
        videoAtual[1].innerHTML=titulo;
        await aula.setAttribute("src","/upload/cursos/<%=curso.titulo%>/"+caminho);
        aula.play();
        console.log(caminho);
      }
      setTimeout(()=>{
        let aulas=document.querySelectorAll(".order");
        for(i=0; i<= aulas.length; i++){
          aulas[i].innerHTML=i + 1;
        }
      },1000)
    </script>
<%- include("../partials/footer") %>