<%- include("../partials/userheader") %>

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Só tu terás acesso a este perfil</h6>
          <h2>Bem vindo <%= usuario.nome.split(" ")[0] %></h2>
        </div>
      </div>
    </div>
  </section>

<!--Modal Meus dado -->
<form action="/user/delete/acount/<%= usuario.id %>" enctype="multipart/form-data" onsubmit="deletar(event, this)" method="post" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Meus Dados</h1>
        <i type="button" class="fa fa-close text-danger" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>
      <input type="hidden" value="<%= usuario.nome %>" id="usuario">
      <div class="modal-body">
        <ul>
          <li>
            <h5>Nome: <%= usuario.nome %></h5> 
          </li>
          <li>
            <h5>Email: <%= usuario.email %></h5>
          </li>
          <li>
            <h5>Gênero: <%= usuario.genero %></h5>
          </li>
          <li>
            <h5>Data de nascimento: <%= usuario.nascimento %></h5>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn rounded-0 btn-outline-danger">Deletar conta</button>
        <button type="button" class="btn btn-danger rounded-0 px-5" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</form>

<!--Todos cursos-->
<section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Todos os Cursos</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <% if(cursos[0] == undefined ){ %>
                <div class="col text-center"> 
                <h3 class="text-muted">Sem cursos</h3>
              </div>
           <% } else{
              cursos.forEach(curso=>{ %>

            
              <div class="item">
                <img src="/<%= curso.capa %>" alt="Course One">
                <div class="down-content">
                  <h4 class="addCurso"><%= curso.titulo %></h4>
                  <div class="info">
                    <div class="row">
                      <a href="/user/curso/add/<%= curso.id %>/<%= usuario.id %>" class="btn btn-sm btn-outline-danger mx-auto rounded-0" onclick="verifica(event,this)">Fazer curso</a>
                    </div>
                  </div>
                </div>
              </div>
            <% }) 
            }
          %>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Meus cursos -->
  <section class="meetings-page" id="mine-courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h2>Meus Cursos</h2>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <% usuario.cursos.forEach(curso=>{ %>
                  <div class="col-lg-4 templatemo-item-col all soon">
                    <div class="meeting-item">
                      <div class="thumb rounded-0">
                        <img class="rounded-0" src="/<%=curso.capa%>" alt="">
                      </div>
                      <div class="down-content rounded-0">
                        
                        <h4 class="meuscursos"><%=curso.titulo%></h4>
                        <div class="row">
                          <a href="/user/curso/<%=usuario.id%>/<%=curso.id%>" class="btn btn-sm btn-danger mx-auto rounded-0 mb-2">Ver curso</a>
                          <a href="/user/curso/remove/<%=usuario.id%>/<%=curso.id%>" class="btn btn-sm btn-outline-danger mx-auto rounded-0">Remover curso</a>
                        </div>
                      </div>
                    </div>
                  </div>
                <% }) %>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Contact -->
    <section class="contact-us" id="contact">
      <div class="container mx-auto">
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <div class="row">
              <div class="col-lg-12">
                <form id="contact" action="" class="rounded-0" method="post">
                    <div class="col-lg-12">
                      <h2>Peça o seu certificado</h2>
                    </div>
                    
                    <div class="form-floating mb-3">
                      <input type="email" name="email" required class="form-control rounded-1" id="floatingInput" placeholder="name@example.com">
                      <label for="floatingInput">Seu email</label>
                  </div>
                    <div class="form-floating col-lg-6 mb-3">
                      <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <label for="floatingSelect" class="ms-2">Selecione o curso</label>
                    </div>

                    <div class="form-floating">
                      <textarea class="form-control rounded-1" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                      <label for="floatingTextarea">Assunto</label>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button rounded-1" disabled>Enviar pedido</button>
                      </fieldset>
                    </div>
                </form>
              </div>
            </div>
          </div>
          
        </div>
      </div>



      <script>
        function verifica(event,link){
          let meuscursos=document.querySelectorAll(".meuscursos")
          let addCurso=link.parentNode.parentNode.parentNode.querySelector(".addCurso").innerHTML;

          for(i=0; i<= meuscursos.length; i++){
            if(meuscursos[i].innerHTML == addCurso){
              event.preventDefault();
              alert("O curso já foi  adicionado!")
            }else{
            }
          }
          
        }
        function deletar(event,elemento){
          let nome=document.querySelector("#usuario").value;
          let recebi= prompt("Digite seu nome se deseja realmente deletar esta conta?");
          if(recebi == nome){
            event.submit();
          }
          event.preventDefault()
        }
      </script>
<%- include("../partials/footer") %>